*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    margin-top: 20px;
    margin-left:50px;
}
.links{
    display: flex;
    list-style: none;
    margin-left:10rem;
}
.listitems{
   padding: 0px 30px;
}
.favourite{
    margin-left:5rem;
}
.image::before{
    content: "";
    background-image: url("../images/palm.png");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -1;
}
.img-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#headerend{
    list-style: none;
    display: flex;
    background-color: rgb(245, 244, 235);
    width:50%;
   padding: 6px;
   margin-left:20rem;
   margin-top:20rem;
  
  }
  
  #headerend li{
      padding:6px;
      margin-left:25px;
  }
  h4{
    margin-top: 5rem;
  }

  .searches{
    display: flex;
   margin-top: 40px;
   margin-left:70px;
  }
  .img-search{
    margin-left:60px;
  }
  .headings{
    display: flex;
  }
.place-img::before{
    content: "";
    background-image: url("../images/place1.jpg");
    background-size: cover;
    position: absolute;
    height:300px;
    width: 200px;
    border-radius: 20px;
    z-index: -1;
}
.place-name{
    margin-top: 2rem;
}